.button {
  padding: 6px;
  margin-top: 20px;
  border-radius: 100px;
  background: #0c0c0c;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  border: none;
}

.buttonSpan {
  width: 42px;
  height: 42px;
}

.buttonAction {
  width: 42px;
  height: 42px;
  border-radius: 100px;
  background: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonTitle {
  font-size: 18px;
  font-style: italic;
  color: #ffffff;
}

.button:hover {
  background: #581d00;
}

@media (max-width: 660px) {
  .buttonTitle {
    font-size: 14px;
  }
  .buttonSpan {
    width: 32px;
    height: 32px;
  }
  .buttonAction {
    width: 32px;
    height: 32px;
  }
}
