.whiteBlock {
  border: 1px solid transparent;
  background: linear-gradient(#ffffff33, #fffefe 0) padding-box,
    linear-gradient(180deg, #f45b0f 0%, #dadada 100%) border-box;
  min-width: 315px;
  max-width: 315px;
  height: 300px;
  border-radius: 20px;
  padding: 20px 0 40px 0;
}

.orangeBlock {
  margin-top: 20px;
  background: #f45b0f;
}

.blackBlock {
  margin-top: 20px;
  background: #0c0c0c;
}

.workStepsWrap {
  max-width: 275px;
  margin: 0 auto;
}

.workStepsCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whiteBlockNumber {
  color: #f45b0f;
  font-size: 18px;
}

.numberBlock {
  color: white;
}

.whiteBlockTitle {
  color: #f45b0f;
  font-size: 22px;
  font-style: italic;
  padding-top: 105px;
}

.titleBlock {
  color: white;
}

.questionBlock {
  color: white;
  padding-top: 85px;
}

.whiteBlockText {
  font-size: 18px;
  font-weight: 400;
  color: #f45b0f;
  padding-top: 10px;
}

.textBlock {
  color: white;
}

@media (max-width: 660px) {
  .whiteBlock {
    min-width: 250px;
    max-width: 250px;
    height: fit-content;
    padding: 15px 0 20px 0;
  }
  .whiteBlockText {
    font-size: 14px;
  }
  .whiteBlockTitle {
    font-size: 18px;
    padding-top: 35px;
  }
  .whiteBlockNumber {
    font-size: 14px;
  }
  .workStepsWrap {
    max-width: 220px;
  }
  .blackBlock,.orangeBlock{
    margin: 0;
  }
}
