.contact {
  text-decoration: underline;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 660px) {
  .contact {
    font-size: 14px;
  }
}
