@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr.woff2") format("woff2"),
    url("/fonts/HelveticaNeueCyr.woff") format("woff"),
    url("/fonts/HelveticaNeueCyr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "HelveticaNeueCyr", sans-serif;
  cursor: none;
  font-weight: 550;
}

.background {
  background-image: url("../img/фон.png");
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
