.workStepsPageContainer {
  width: 100%;
  height: 820px;
  background-image: url("../../img/элипс\ фон\ \(1\).png");
  background-size: 100% 200%;
  background-position: center;
  position: relative;
  bottom: 80px;
  overflow: hidden;
}
.slidesWrapper {
  overflow: hidden;
  width: 100%;
  transition: padding 1s ease;
}
.slides {
  display: flex;
  gap: 10px;
  transition: transform 1s ease;
  width: 100%;
}
.sliderArrow {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s ease;
}
.sliderContainer {
  display: flex;
  gap: 40px;
}
.workStepsPageInfoWrap {
  max-width: 1290px;
  margin: 0 auto;
  padding: 170px 0 50px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.workStepsPageNumber {
  color: #f45b0f;
  font-size: 18px;
  margin-bottom: 5px;
}

.workStepsPageTitle {
  font-size: 60px;
  color: #313131;
}

.carouselContainer {
  transition: padding 1s ease;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 10px;
  transition: transform 1s ease;
  padding-bottom: 145px;
  width: 100%;
}

.carouselItem {
  flex: 0 0 25%;
}

.moreWorkButton {
  display: none;
  width: 325px;
  background: #f45b0f;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  color: #ffffff;
  height: 45px;
  margin-top: 30px;
}

.animating {
  animation: returnToStart 2s ease-in-out forwards;
}
.paddingLeft {
  padding-left: 320px;
}
.paddingLeftZero {
  padding-left: 0;
}
@media (max-width: 1630px) {
  .paddingLeft {
    padding-left: 190px;
  }
}

@media (max-width: 1600px) {
  .paddingLeft {
    padding-left: 160px;
  }
}

@media (max-width: 1580px) {
  .slides {
    width: 260%;
  }
}
@media (max-width: 1515px) {
  .paddingLeft {
    padding-left: 110px;
  }
}
@keyframes returnToStart {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1420px) {
  .workStepsPageInfoWrap {
    max-width: 1025px;
  }
  .carouselContainer {
    padding-left: 200px;
  }
  .paddingLeft {
    padding-left: 150px;
  }
  .slides {
    width: 130%;
  }
}
@media (max-width: 1270px) {
  .paddingLeft {
    padding-left: 90px;
  }
}

@media (max-width: 1185px) {
  .paddingLeft {
    padding-left: 80px;
  }
}

@media (max-width: 1040px) {
  .workStepsPageInfoWrap {
    max-width: 800px;
  }
  .carouselContainer {
    padding-left: 50px;
  }
  .paddingLeft {
    padding-left: 50px;
  }
  .workStepsPageTitle {
    font-size: 40px;
  }
  .slides {
    width: 180%;
  }
}
@media (max-width: 855px) {
   .workStepsPageInfoWrap {
    max-width: 645px;
  }
}
@media (max-width: 815px) {
  .slides {
    width: 245%;
  }
}

@media (max-width: 660px) {
  .workStepsPageInfoWrap {
    max-width: 325px;
    padding: 120px 0 30px 0;
  }
  .carouselContainer {
    padding-left: 0;
  }
  .paddingLeft {
    padding-left: 0;
  }
  .workStepsPageTitle {
    font-size: 28px;
  }
  .carouselContainer {
    overflow: auto;
  }
  .workStepsPageContainer {
    height: 100%;
    overflow: auto;
  }
  .carousel {
    flex-direction: column;
    transform: translateX(0) !important;
    max-width: 325px;
    margin: 0 auto;
  }
  .workStepsElements:nth-child(2n) {
    display: flex;
    justify-content: flex-end;
  }
  .workStepsPageNumber {
    font-size: 14px;
  }
  .slides {
    max-width: 325px;
    margin: 0 auto 120px;
    flex-direction: column;
    gap: 15px;
  }
  .sliderContainer {
    display: none;
  }
}
